.container {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 1em;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.content {
    display: flex;
}

.textContainer {
    align-items: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin: 1em;
}

.button {
    margin: 1em;
    color: #FFFFFF;
    border-color: #1863dc;
    background-color: #1863dc;
    font-size: 14px;
    font-family: inherit;
    line-height: 24px;
    padding: 8px 27px;
    font-weight: 500;
    margin: 0 8px 0 0;
    border-radius: 2px;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    min-height: 0;
    border: 2px solid #1863dc;
}

@media (max-width: 768px) {
    .button {
        flex: auto;
        max-width: 100%;
        margin-top: 10px;
        white-space: unset;
    }

    .content {
        display: block;
    }
}